
body{
    background: -webkit-linear-gradient(top,#F3FCFF, #FDFf9F2); /*Degradar los colores*/
    
    margin: 0;
}
.cuerpo{

    padding:5px;/*margen*/
    cursor:pointer;
    
     /*Centrar formulario*/
    Margin-left: auto; 
    margin-right: auto;
    margin-top: 3%; /*Margen superior*/
    border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,.8); /*Profundidad*/
    background: -webkit-linear-gradient(top,#F3FCFF, #8ACED7); /*Degradar los colores*/
    height: 30vw; /*Alto caja text*/
    width: 80vw; /*Ancho de la caja*/
}
   
#titulo{
  margin-top: 20px;/*Margen superior*/
    font-family:"Myriad Pro", Arial Bold; /*Tipo letra*/
    font-size: 2vw; /* Tamaño Letra*/
    font-style: italic;/*Estilo letra*/
    text-align: center;/*Centrar texto*/
}

.cuerpo div{
    margin-top: 50px;
    float: left;
    margin-left: 0px;
    font:bold italic 1.8vw Arial, Helvetica, sans-serif ; /*Tipo letra*/
    width: 33%;
    
}
.cuerpo div input{
    margin-top: 0px;
    border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8); /*Profundidad*/
    font:bold italic 1.5vw Arial, Helvetica, sans-serif ; /*Tipo letra*/
    height: 10%; /*Alto caja text*/
    width: 65%; /*Ancho caja text*/
    padding: 3px;
    margin-left: 3px;
}

#boton{
    width: 100%;
    text-align: center;
}



input#btnBuscar{
    margin-top: 5px;
    border-radius:5px; /*probar con 10px se hacen ovalados los inputs*/
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8); /*Profundidad*/
    font-family:"Myriad Pro", Arial Bold; /*Tipo letra*/
    font-size: 1em  ; /* Tamaño Letra*/
    font-style: italic;/*Estilo letra*/ /*Tipo letra*/
    height: 4vh   ; /*Alto caja text*/
    width: 10vw  ; /*Ancho caja text*/
    background: -webkit-linear-gradient(top, #BD6A07 0%,  #F9F22B 20%, #D9B661 50%, #FFFFFF 60%, #D8AB3D 70%, #724612 100%); /*Degradar los colores*/
    color: #000; /*Color del texto*/
}

@media only screen and(min-width:400px){
    .cuerpo div{
        margin-top: 10px;
        float: left;
        margin-left: 0px;
        font:bold italic 20px Arial, Helvetica, sans-serif ; /*Tipo letra*/
        width: 33%;
    }
}
    
    
   

